.header-con {
  background-color: #2C1150;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
}

.header-left img {
  width: 100%;
}

.header-left img:hover {
  cursor: pointer;
}

.header-left p {
  font-style: italic;
  font-size: 0.7rem;
  color: #fff;
  font-weight: lighter;
}

.header-right h1 {
  color: #fff;
}