.header-con {
  background-color: #262E70;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
};

.logo {
}

.logo img {
  width: 120px;
}

.logo img:hover {
  cursor: pointer;
}


.header-right h1 {
  color: #fff;
}